* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #1E0028;
    background: linear-gradient(135deg,rgba(30, 0, 40, 1) 38%, rgba(106, 7, 163, 1) 76%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.container {
    display: flex;
    gap: 80px;
}

.welcome-card {
    max-width: 300px;
}

.welcome-card h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.welcome-card p {
    font-size: 18px;
    opacity: 0.7;
}

.welcome-card button {
    margin-top: 20px;
    height: 41px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: #ffde4d;
    color: black;
    cursor: pointer;
}

.welcome-card button:hover {
    background: #ffd11a;
}

.card h2 {
    font-size: 30px;
    margin-bottom: 2rem;
}

.card {
    width: 330px;
    background: rgba(255, 255, 255, 0.08);
    padding: 35px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

input {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px 15px;
    border: none;
    outline: none;
    margin-top: 8px;
    margin-bottom: 19px;
    border-radius: 20px; 
    background: rgba(255,255,255,0.1);
    color: #fff;
}

button.submit {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: linear-gradient(to right, #ffd000, #ffa127);
    color: black;
    box-sizing: border-box;
}

button.submit:hover {
    background: linear-gradient(to right, #ffa127, #ffbb00);
}

.card p {
    margin-top: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
}
a:hover {
    text-decoration: underline;
}